.wrap-container{
	width: 1200px;
	margin: 0 auto;
}
.wrap-container .header{
	padding: 10px 0;
    background: #C9C9C9;
    margin-bottom: 2px;
    padding-left: 20px;

}
.main-container{
	width: 100%;
}
.main-container .left{
	background: #C9C9C9;
    width: 60%;
    float: left;
    display: table;
    margin-bottom: 15px;
    padding-top: 6px;


}
.left textarea{
	width: 400px;
	height: 100px;
    text-align: left;
    padding-right: 15px;
    display: table-cell;
    vertical-align: top;
    display: table-cell;
    resize: none;
}
.left button{
	margin-top: 15px;
}
.main-container .right{
	display: table;
	background: #C9C9C9;
    width: 40%;
    height: 312px;
    float: right;
}
.right div{
	margin-top: 10px;
}
